<h1>Hello</h1>
<form id="inputText">
    <input type="text" >
    <button type="submit">Submit</button>
</form>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrf_token = getCookie('csrftoken');

var currUser = "{{ user.username }}";
var to_user = "{{ to_user }}";
var loc = window.location;

var ws = "ws:"
if (loc.protocol == "https") ws = "wss:"

var url = `${loc.protocol}//${loc.host}/api/user/websocket_token/create/`;

fetch(url, {
    "method": "POST",
    "headers": {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf_token,
    }
})
.then((resp) => {
    return resp.json();
})
.then((data) => {
    console.log(data);
    token = data.token;
    var ws_url = `${ws}//${loc.host}/message/${token}/`;
    return ws_connection(ws_url);
});


function ws_connection(url){
    var socket = new WebSocket(url);

    socket.onopen = function(event){
        var send_msg_url = `message/${to_user}`;
        console.log(send_msg_url);

        var form = document.getElementById('inputText');

        form.addEventListener("submit", (event) => {
            event.preventDefault();
            var inp = form.getElementsByTagName("input")[0];
            var txt = inp.value;

            fetch(`${loc.protocol}//${loc.host}/api/${send_msg_url}/`, {
                "method": "post", 
                "headers": {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf_token,
                },
                "body": JSON.stringify({
                   "message": txt,
                })
                // .then((resp) => {
                //     return resp.json();
                // })
                // .then((data) => {
                //     console.log(data);
                // })
            });

        });
        
    };

    socket.onmessage = function(event){
        var data = JSON.parse(event.data);
        console.log(data);
    };

    socket.onerror = function(event){
        console.log(event)
    };

    socket.onclose = function(event){
        console.log(event)
    };
};

</script>
